
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* LOGIN AUDITOR*/
.frmloaud{
    display: flex;
}
.formloaud{
    display: grid;
    gap: 8px;
    width:430px;
    height:480px;
    background:rgb(187, 145, 135);
    margin:auto;
    margin-top:60px;
    margin-bottom: 0px;
    box-shadow:8px 13px 20px rgb(160, 137, 132);
    padding:20px 40px;
    color:black;
    padding: 20px 40px 0px 40px;
}

.formloaud h1{
    text-align: center;
    height:40px;
    margin-bottom:30px;
    margin-top:20px;
    margin-bottom:25px;
    font-size:30px;
    color:cornsilk;
}

 .campos{
    width:100%;
    margin-bottom:15px;
    padding:10px 10px;
    font-size:14px;
}
 .button{
    width:100%;
    height:40px;
    margin-bottom:16px;
    border:none;
    margin-top: 20px;
}
.button:hover {
    background-color:#DED6D4;
}
.form p{
    height:20px;
    text-align:center;   
}
.form a{
    color:white;
    text-decoration:none;
    font-size:15px;
}
.formulario-input-error{
    font-size:15px;
    margin-bottom:0;
    display:none;
    color:#bb2929;
    margin-top: -10px;
}
.formulario-input-error-activo{
    display:block;
}
.formulario-mensaje-exito{
    font-size:14px;
    color:#119200;
    display: none;
}
.formulario-mensaje-exito-activo{
    display:block;
}
.formulario-grupo-correcto .campos{
    border:2px solid #119200;
}
.formulario-grupo-incorrecto .formulario-label{
    color:#bb2929;   
}
.formulario-grupo-incorrecto .campos{
    border:2px solid #bb2929;
}
/* LOGIN Empresas*/
.frm{
    display: flex;
}
.form{
    display: grid;
    gap: 8px;
    width:430px;
    height:480px;
    background:rgb(187, 145, 135);
    margin:auto;
    margin-top:60px;
    margin-bottom: 0px;
    box-shadow:8px 13px 20px rgb(160, 137, 132);
    padding:20px 40px;
    color:black;
    padding: 20px 40px 0px 40px;
}

.form h1{
    text-align: center;
    height:40px;
    margin-bottom:30px;
    margin-top:20px;
    margin-bottom:25px;
    font-size:30px;
    color:cornsilk;
}

/* REGISTRO AUDITOR*/
.formh1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.formreaud{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    width:800px;
    height:480px;
    background:rgb(187, 145, 135);
    margin:auto;
    margin-top:10px;
    box-shadow:8px 13px 20px rgb(160, 137, 132);
    padding:20px 40px;
}
.formulario-grupo-input{
    position:relative;
}

.formulario-validacion-estado{
    position:absolute;
    right:10px;
    bottom:27px;
    z-index:100;
    font-size:16px;
    opacity:0;
} 
#grupo-button{
    grid-column: span 2;
    display: flex;
	flex-direction: column;
	align-items: center;
}
.buttonre{
    height: 45px;
	width: 30%;
	cursor: pointer;
}
.buttonr:hover{
    background-color:#DED6D4
}

/* REGISTRO empresas*/
.formh1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.formrebu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    width:800px;
    height:480px;
    background:rgb(187, 145, 135);
    margin:auto;
    margin-top:10px;
    box-shadow:8px 13px 20px rgb(160, 137, 132);
    padding:20px 40px;
}

/* Validacion */
.formulario-grupo-correcto .formulario-validacion-estado{
    color:#119200;
    opacity: 1;
}
.formulario-grupo-incorrecto .formulario-validacion-estado{
    color:#bb2929;   
    opacity: 1;
}
@media screen and (max-width:800px){
    .form{
        width:60%;
        /* gap:1px; */
        height:450px;
        margin-bottom: 10px;
    }

    .button{
        width:100%;
    }
    .formre{
        grid-template-columns:1fr;
        width:60%;
        gap:1px;
        height:800px;
        margin-bottom: 30px;
    }

    #grupo-button{
        grid-column:1;
    }
    .buttonre{
        width:100%;
    }
}